@import "./theme.css";

body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding-top: var(--top-inset);
    margin: 0;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.splash {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-surface);
    z-index: 99;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.splash.exit {
    opacity: 0;
    pointer-events: none;
}

.splash-icon {
    border-radius: 50%;
    background-color: white;
    transition: opacity 0.05s ease;
    opacity: 0;

    svg {
        width: min(45vw, 240px);
        height: auto;
        fill: black;
    }
}

.splash-icon.show {
    opacity: 1;
}

.root_layout {
    width: 100%;
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.top-bar {
    width: 100vw;
    position: fixed;
    padding-top: var(--top-inset);
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--md-sys-color-surface);
}

.top-bar-content {
    font-size: 1.4em;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.title {
    flex-grow: 1;
    padding: 0 8px;
    box-sizing: border-box;
}

.top-bar-trailing-icon {
    position: relative;
    display: flex;
    gap: 4px;
}

.top-search-bar {
    position: fixed;
    height: 64px;
    top: var(--top-inset);
    left: 10px;
    min-width: 200px;
    width: 70%;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

[dir="rtl"] .top-search-bar {
    left: unset;
    right: 10px;
}

.top-search-bar.show {
    width: calc(100% - 64px);
    opacity: 1;
    pointer-events: auto;
}

.top-search-bar md-outlined-text-field {
    height: 100%;
}

.search-bg {
    transition: opacity 0.3s ease;
}

.search-bg.hide {
    opacity: 0;
}

.content {
    width: 100%;
    max-width: 100%;
    flex: 1;
    margin-top: 64px;
    margin-bottom: calc(80px + var(--bottom-inset));
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: margin-bottom 0.3s ease;
}

.content.no-bottom-bar {
    margin-bottom: 0;
}

.page {
    opacity: 0;
    transition: opacity 0.24s ease;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow-y: auto;
    padding: 16px 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

#exclude-page .page-content,
#settings-page .page-content {
    padding-top: 0;
}

.content-padding {
    width: 100%;
    max-width: calc(100vw - 32px);
}

.card {
    width: 100%;
    border-radius: 20px;
    background-color: var(--md-sys-color-tonal-surface);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    word-wrap: break-word;

    max-height: 1000px;
    opacity: 1;
    transition: all 0.2s ease;
}

.animate-hidden {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -16px; /* flex gap override */
    overflow: hidden;
}

.home-card {
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    position: relative;
    overflow: hidden;
}

.warning-card {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.home-card md-text-button {
    --md-sys-color-primary: var(--md-sys-color-on-primary);
}

.home-card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.home-card-title {
    font-weight: 500;
}

.home-card-subtitle {
    font-size: 0.8em;
}

.info-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    word-break: break-all;
    line-height: 1.5;
}

.info-card [slot="title"] {
    font-size: 1.05em;
}

.info [slot="detail"] {
    font-size: 0.95em;
    color: var(--md-sys-color-outline);
}

.card-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
}

.module-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.module-card-title {
    font-weight: 500;
    padding-bottom: 4px;
}

.module-card-subtitle {
    font-size: 0.8em;
    color: var(--md-sys-color-on-surface-variant);
}

.module-card .flex-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

.header-info {
    flex: 1;
    min-width: 0;
}

.module-card-content {
    padding: 16px 0;
    font-size: 0.8em;
    color: var(--md-sys-color-outline);
}

.module-card-content md-linear-progress {
    width: 100%;
}

.module-card-actions {
    padding-top: 8px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.module-card-actions md-filled-tonal-icon-button {
    --md-filled-tonal-icon-button-container-width: 64px;
}

.app-item .tag-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.tag {
    width: fit-content;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.tag.system {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

md-fab {
    position: absolute;
    bottom: 16px;
    right: 16px;
    transform: scale(1);
    opacity: 1;
    transition: all 0.2s ease;
}

md-fab.hide,
md-filled-button.hide,
md-outlined-button.hide {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}

md-outlined-select,
md-outlined-text-field {
    --md-sys-shape-corner-extra-small: 16px;
    width: 100%;
}

.trailing-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.output-terminal {
    width: 100%;
    font-size: 0.75em;
    font-family: monospace;
    word-break: break-all;
    padding-bottom: 64px;
}

.list-item {
    display: flex;
    gap: 16px;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 16px;
    box-sizing: border-box;
    font-size: 1.1em;
}

.empty-list {
    height: 100%;
    width: 100%;
    padding-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-list.hidden {
    display: none;
}

md-menu-item {
    white-space: nowrap;
}

md-menu-item label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.app-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-bottom: 72px;
}

.app-item {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: relative;
    user-select: none;
}

.icon-container {
    position: relative;
    padding: 4px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.app-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--md-sys-color-surface-container), var(--md-sys-color-surface-container-high), var(--md-sys-color-surface-container));
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
    border-radius: 6px;
    z-index: 0;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.app-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.app-label {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-package {
    font-size: 0.8em;
    color: var(--md-sys-color-outline);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-switch {
    flex-shrink: 0;
}

.bottom-bar {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: calc(80px + var(--bottom-inset));
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--md-sys-color-surface-container);
    padding-bottom: var(--bottom-inset);
    box-sizing: border-box;
    z-index: 10;
    transition: all 0.3s ease;
}

.bottom-bar.hide {
    transform: translateY(100%) scaleY(0.8);
    opacity: 0;
    pointer-events: none;
}

.bottom-bar-item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 12px;
    box-sizing: border-box;
    gap: 4px;
    position: relative;
    user-select: none;
}

.bottom-bar-item::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 50%;
    width: 56px;
    height: 32px;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 16px;
    z-index: 0;
    opacity: 0;
    transform: translateX(-50%) scaleX(0.5);
    transition: opacity 0.2s, transform 0.2s ease;
}

.bottom-bar-item[selected]::before {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
}

.bottom-bar-item[selected] {
    color: var(--md-sys-color-on-secondary-container);
}

.bottom-bar-item md-icon {
    position: relative;
    z-index: 1;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-bar-item md-icon[slot="selected"] {
    display: none;
}

.bottom-bar-item[selected] md-icon:not([slot="selected"]) {
    display: none;
}

.bottom-bar-item[selected] md-icon[slot="selected"] {
    display: flex;
}

.bottom-bar-item-text {
    font-size: 0.8em;
    font-weight: 500;
    color: var(--md-sys-color-on-surface);
}

.dialog-wrapper {
    z-index: 5;
    position: relative;
}

md-dialog [slot="content"] {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: visible;
}

md-dialog .checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    padding: 4px 0;

    --md-checkbox-outline-color: var(--md-sys-color-on-surface-variant);
}

.text-field-dialog {
    margin-top: 20vh;
}

[slot="headline"] {
    user-select: none;
}

.hidden,
[unresolved],
[hidden] {
    display: none !important;
}

.fab-padding {
    padding-bottom: 72px;
}

.keyboard-inset {
    width: 100%;
    padding-bottom: calc(40vh - 64px - 64px - var(--bottom-inset) - var(--top-inset)); /* base - top bar - fab - insets */
    transition: padding-bottom 0.2s ease;
}

.keyboard-inset.hide {
    padding-bottom: 0;
}
